[submodule "evil"]
	path = evil
	url = git://gitorious.org/evil/evil.git
[submodule "emacs-for-python"]
	path = emacs-for-python
	url = git://github.com//gabrielelanaro/emacs-for-python.git
[submodule "zencoding"]
	path = zencoding
	url = https://github.com/rooney/zencoding.git
